*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #FFD9D3;
    font-family: sans-serif;
  }
  .burger {
    margin-right: 50px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
  
  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
  
    height: 93vh;
    top: -93vh;
    background-color: #FFD9D3;
    align-items: center; 
    width: 30%;
    transition: all 1s;
    left: 0px;
    font-size: 18px;
  }
  .navActive {
    transform: translateY(100vh);
  }
  
  .navLinks li {
    list-style: none;
  }
  
  .navLinks a {
    color: #284B63;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color:#284B63;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #container {
      display:grid;
      height:100vh;
      /* grid-template-columns:3fr 1fr 1fr 1fr; */
      grid-template-rows:7vh auto 50px;
      grid-gap:10px;
      grid-template-areas:
      'hd hd hd hd'
      'mn mn mn mn'
      'ft ft ft ft'
  }

  header {
      grid-area: hd;
      background: #FFE8E5;
      display: flex;
      justify-content: center;
  }
  aside{
      grid-area: as;
    
  }
  main{
      grid-area: mn;
  }
  footer {
      grid-area: ft;
  }

#search {

  position: absolute;
  left: 100px;

}

#searchfield {
  display: inline;
  position: absolute;
  top: 10px;
  left: 50px;
}

.navSearch {
  transform: inline;
  display: inline;
}

span {
  font-size: 20px;
display: flex;
}

#slider {
  overflow: hidden;
  display: none;

}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 33%;
  float: left;

}

@keyframes slider {
  0% {
    left: 0;
  }
  20%{
    left: 0;
  }
  25% {
    left: -100%;

  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }


}


